#header {
  background-color: #2B823A;
  text-align: center;
  color: #88CC88;
  word-wrap: break-word;

}

#side-nav {
  color: #41817F;
  font-weight: bold;
  display: flex;
  text-decoration: none;
  height: 100%;
  list-style: none;
  margin: auto;
  list-style-type: none;
  word-wrap: break-word;
  flex-direction: column;
  text-align: center;
  padding-top: 30px;
  
}

#side-nav ul {
  text-align: center;
  
}

#side-nav li {
  text-align: center;
  display: inline-block;
  
}

#side-nav a:link {
  color: #41817F;
  text-decoration: none;
}

#side-nav a:visited {
  color: #41817F;
}

#side-nav a:hover {
  color: #012E34;
  background-color: #41817F;
}

.current-link {
  color: #D4726A;

}

#side-nav ul li a:link {
  color: #41817F;
}

#h1 {
  background-color: #2B823A;
  color: #82C38D;
}

#h2 {
  color: #FFD1AA;
}

#h3 {
  color: #88CC88;
  /*color: #5AAC56;*/
}

html,
body {
  height: 100%;
  
}



body {
  background-color: #282c34;
  margin: 0;
  font-family: courier;
  overflow: hidden;
}

#main {
  display: block;
  height: 96%;
  padding-top: 20px;
}

#profile {
  background-image: url(hmmPROFILEpic.jpg);
  background-repeat: no-repeat;
  background-size: 85% 100%;
  height: 200px;
  background-position: center;
}

#left {
  float: left;
  max-width: 12%;
  width: 12%;
  height: 99.5%;
  background-color: #012E34;
  position: fixed;
}

#left-wrapper {
  border: 1px solid;
  border-color: #41817F;
  height: 100%;
}

/* -- -- -- -- */

#right {
  float: right;
  width: 88%;
  height: 100%;
  background-color: #282c34;
  /* -- -- -- -- */ /* -- -- -- -- */ /* -- -- */
  overflow-y: scroll;
  scrollbar-width:thin;
  scrollbar-color: #88CC88 #282c34;
  /* -- -- -- -- */ /* -- -- -- -- */ /* -- -- */
  
}

#right-right {
  width: 46%;
  float: right;
  height: 100%;
  color: #D3D3D3;
  /*border-right: dashed;*/
  /* -- -- -- -- */ /* -- -- -- -- */ /* -- -- */
  overflow-y: scroll;
  scrollbar-width:thin;
  scrollbar-color: #88CC88 #282c34;
  /* -- -- -- -- */ /* -- -- -- -- */ /* -- -- */
}

#right-right a {
  color: #5AAC56;
}

#a {
  color: #5AAC56;
}

#right-right-wrapper {
  padding-top: 13px;
  padding-right: 15px;
  margin-right: 25px;
}

#right-left {
  width: 48%;
  float: left;
  height: 100%;
  /*border-right: 1px dashed;*/
  
  /* -- -- -- -- */ /* -- -- -- -- */ /* -- -- */
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #88CC88 #282c34;
  /* -- -- -- -- */ /* -- -- -- -- */ /* -- -- */
  border-color: #88CC88;
  color: #D3D3D3;
}

#right-left-wrapper {
  padding-top: 13px;
  padding-left: 30px;
  padding-right: 30px;
}

#main-wrapper {
  padding-left: 45px;
  padding-right: 45px;
  padding-bottom: 45px;
  text-align: center;
}

/* title content for RR-text */

#rct {
  color: #D4726A;
}

/* specifics text color */

#rs {
  /*color: #FFB0AA;*/
  color: #88CC88;
}

rs{color: #88CC88;}

/*
#table-wrapper{}*/

#table {
  width: 100%;
}

#td,
th {
  border: 1px solid grey;
  padding-left: 20px;
  padding-right: 20px;
  border-color: grey;
  color: grey;
}

#form {
  max-width: 400px;
  margin: 50px auto;
  padding: 16px;
  background-color: #012E34;
  color: #D4726A;
  border-color: #550600;
  border: 1px dashed;
  height: 55%;
  

}

#form-wrapper {
  width: 99%;
}

#form input[type="text"] {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
  background-color: #012E34;
  color: white;
}

#form input[type="email"] {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
  background-color: #012E34;
  color: white;
}

#form input[type="number"] {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
  background-color: #012E34;
  color: white;
}

#form input[name="email"] {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
  background-color: #012E34;
  color: white;
}

#form textarea input[type="text"],
#form textarea {
  margin-top: 10px;
  box-sizing: border-box;
  outline: none;
  width: 100%;
  color: white;
  background-color: #012E34;
  height: 300px;
  word-wrap: break-word;
  resize: none;
}

.scroller {
  scrollbar-color: #282c34 #282c34;
  overflow-y: scroll;
  width:thin;
}

scroller {
  scrollbar-color: #282c34;
  overflow: hidden;
  scrollbar-width:thin;
  visibility: hidden;
}

#scrollable-element{overflow: hidden;
  visibility: hidden;
}
scrollable-element{overflow: hidden;
  visibility: hidden;
}



body::-webkit-scrollbar{width: 1em;}
body::-webkit-scrollbar-track{-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.3);}
body::webkit-scrollbar-thumb{background-color: darkgrey;
  outline:1px solid slategrey;
  overflow: hidden;
  visibility: hidden;
  -ms-overflow-style:none;
  
}

body::-moz-scrollbar{width: 1em;}
body::-moz-scrollbar-track{-moz-box-shadow:inset 0 0 6px rgba(0,0,0,0.3);}
body::moz-scrollbar-thumb{background-color: darkgrey;
  outline:1px solid slategrey;
  overflow: hidden;
  visibility: hidden;
}
  
